.container
  .row
    .col-md-10
      = link_to do
        - image_tag 'monk_large.jpg'
    .col-md-2
      = @video.name
      <hr>
      = @video.description

.container
  .row
    .span10
      bunch of text
    .span2
      some more text
