.container
  .row
    .col-md-4
      .well.well-sm.alert.alert-danger
        - if obj.errors.any?
          - obj.errors.full_messages.each do |msg|
            %br
            - case
            - when msg.include?('Name last')
              - msg = "Last name can't be blank"
            - when msg.include?('Name first')
              - msg = "First name can't be blank"
            = msg
